# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "EZsMMEcBweyT/r7XSN26iqHL1tlk0wZ9N/77IW2zDvRrp+Dbj4svnV/2f3oXo3MJawHcM2sB9NnVmtkd1HdWfBn/fNLFIJC5+TYQ4VmxOah0V2nsO++xRS5LP9RCTKOw5S0L1ElX+kmA4pZYY/bBMhFuDx+7icDmuHrDqrvYqEwIg3t3V4+LlrMrHJGBtN0pjyc0qDkhd0K8+Qb8jdniKY3Dpc/7Zx2gQVgBcJiYwVpe1aSPOa1ZUEyysrqd90ybZgaH3Qn/d6Hl/frDYj6BYGarO8nGj4ZRPggypQAnJm1HnlojU7T8RrO7REmiizE3BIbcEkWJ75m7rHipvseySIs1xIv5RyJJS0L3zd4B+a/q+hOl8jv6EwijVuJw7K718+UvNeEhIzjqF0e3kXTHgD69UerDGSjCgzGvysmnBUtpt7Z9u+EAIxc25okMLNG8reJCJMLZmq3vUD9lbLSM6dhW6zpzHNaTV2lPFILB0Aon2hpyisSqZYEg0oh42D7mug6GWk3NvaSII4HzKcZ54JWwEaepg/YwMRP6yxjItWdbc38thNpExPc3qvpPhaD0Dl03fHiFy/PVKp6KLq/6e6e9+uvZ8bGXcfTD37T55dXEsyfwcrnakdCLVi+0aKO0jx+0/Po9YcDVZt+oXzFe+ad425/Y8Bwd0FH7likmMo8="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-ci-setup=1
      source run_conda_forge_build_setup

script:
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml

  - upload_or_check_non_existence ./recipe conda-forge --channel=main -m ./.ci_support/${CONFIG}.yaml
